p{
    Margin-top:0px;
    Margin-bottom:0px;
    text-align: center;
    font-family: Dynapuff;
    font-size:20px;
}
.darran {
font-size: 30px;
margin-top: 30px;
background-color:rgb(255, 0, 179);
color:white;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
}

.Coming {
font-size: 30px;
margin-top: 30px;
background-color:rgb(0, 162, 255);
color:white;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
}


.Intro {
font-size: 100px;
}

.extra{
Margin-bottom:10px;
}

.other{
    Margin-top: 10px;
    Margin-bottom: 40px;
}

.man{
    text-align: center;
}
