p{
    Margin-top:0px;
    Margin-bottom:0px;
    text-align: center;
    font-family: Dynapuff;
    font-size:20px;
}
.darran {
font-size: 30px;
margin-top: 30px;
background-color:rgb(255, 0, 179);
color:white;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
margin-left:650px;
}

.SS{
text-align:center;
margin-top:50px;
font-size: 30px;
margin-top: 30px;
background-color:rgb(0, 255, 0);
color:white;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
margin-left:650px;
}

.Github {
font-size: 30px;
margin-top: 30px;
background-color:rgb(255, 255, 255);
color:black;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
text-align:center;
margin-top:50px;
margin-left:650px;
}

.Coming {
font-size: 30px;
margin-top: 30px;
background-color:rgb(0, 162, 255);
color:white;
text-decoration: none;
padding-top:10px;
padding-bottom:10px;
padding-left:8px;
padding-right:8px;
border-radius: 10px;
font-family: Lexend;
text-align:center;
margin-top:50px;
margin-left:650px;
}


.Intro {
font-size: 100px;
}

.extra{
Margin-bottom:10px;
}

.other{
    Margin-top: 10px;
    Margin-bottom: 40px;
}

.man{
    text-align: center;
}
